# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# Environments
venv/

# User-specific stuff:
.idea/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

_doc/env2.sh