{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="cover-heading">Data Gather</h1>
    <p class="lead">Data Gather is a ongoing project, aiming to collect open data from air quality sensors</p>
    <div class="row">
        <div id="mapid" class="col-sm-10 offset-md-1"></div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">Check the project at Github
            <a href="https://github.com/4ndr/data-gather"><img src="{% static 'logos/GitHub-Mark-Light-120px-plus.png' %}" height="20px"></a>
            </p>
        </div>
    </div>
{% endblock %}


{% block leafletmapjs %}
    <script src="{% static 'plot_map/mymap.js' %}"></script>
    <script>
        $(document).ready(function () {
            buildMap();
            var json_data;
            $.ajax({
                url: '/map/1',
                dataType: 'json',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (data) {
                    json_data = JSON.parse(data['data']);
                }
            }).done(function () {

                plotSmartCitizen(json_data);

            });

            $.ajax({
                url: '/map/2',
                dataType: 'json',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (data) {
                    json_data = JSON.parse(data['data']);
                }
            }).done(function () {

                plotLASS(json_data);

            });

            $.ajax({
                url: '/map/3',
                dataType: 'json',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                success: function (data) {
                    json_data = JSON.parse(data['data']);
                }
            }).done(function () {

                plotOpenAQ(json_data);

            });
        });

    </script>

{% endblock %}